<div id="preloader" class="loader">
  <div class="sk-three-bounce">
    <div class="sk-bounce-1 sk-child"></div>
    <div class="sk-bounce-2 sk-child"></div>
    <div class="sk-bounce-3 sk-child"></div>
  </div>
</div>
<div id="pjax-container">
  <div id="block-content" class="page--cabinet">
    <header class="header-bull header--cabinet">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="topline header__topline">
              <div class="topline__logo">
                <a href="/" class="logo" data-pjax>
                  <img
                    src="/assets/img/logo-img.svg"
                    alt="Golden"
                    style="width: 180px"
                  />
                </a>
              </div>
              <div class="topline__controls">
                <div class="dropdown topline__dropdown">
                  <a
                    href="#"
                    class="dropdown-toggle userdropdown topline__userdropdown"
                    id="userDropdown"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="true"
                  >
                    <%= req.user.username%>
                    <span class="caret userdropdown__caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="userDropdown">
                    <li><a href="/dashboard" data-pjax> Dashboard </a></li>
                    <li><a href="/contact" data-pjax> Support </a></li>
                    <li><a href="/logout"> Log out </a></li>
                  </ul>
                </div>
                <span class="burger header__burger" id="js-menu-burger">
                  <i class="fa fa-bars"></i>
                </span>
              </div>
            </div>
            <nav class="menu header__menu" id="js-menu">
              <a
                href="/dashboard"
                class="menu__link"
                id="js-sidebar-cabinet"
                data-pjax
              >
                Dashboard
              </a>
              <a
                href="/deposit"
                class="menu__link"
                id="js-sidebar-invest"
                data-pjax
              >
                Add Deposit
              </a>
              <a
                href="/withdraw"
                class="menu__link"
                id="js-sidebar-withdraw"
                data-pjax
              >
                Withdraw
              </a>
              <a
                href="/deposits"
                class="menu__link"
                id="js-sidebar-deposits"
                data-pjax
              >
                Deposits
              </a>
              <a
                href="/history"
                class="menu__link"
                id="js-sidebar-history"
                data-pjax
              >
                History
              </a>
              <a
                href="/settings"
                class="menu__link"
                id="js-sidebar-settings"
                data-pjax
              >
                Settings
              </a>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <section class="content bagblack">
      <div class="container">
        <style>
          th,
          td {
            padding: 4px;
            font-size: 13px;
          }
        </style>
        <div class="row clearfix">
          <div class="col-lg-12">
            <div class="card" style="margin-top: 30px">
              <div class="body block-header">
                <div class="row">
                  <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2>Welcome, <%= req.user.username%></h2>
                    <ul class="breadcrumb p-l-0 p-b-0">
                      <li class="breadcrumb-item">
                        <a href="index"><i class="fa fa-home"></i></a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="Account?a=account">Dashboard</a>
                      </li>
                      <li class="breadcrumb-item active">Account settings</li>
                    </ul>
                  </div>
                  <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                    <a href="Deposit?a=deposit">
                      <button
                        class="btn btn-primary btn-round btn-simple float-right hidden-xs m-l-10 btn-warning waves-effect"
                      >
                        Make an investment
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <script language="javascript">
              function IsNumeric(sText) {
                  var ValidChars = "0123456789.";
                  var IsNumber = true;
                  var Char;
                  if (sText == '') return false;
                  for (i = 0; i < sText.length && IsNumber == true; i++) {
                      Char = sText.charAt(i);
                      if (ValidChars.indexOf(Char) == -1) {
                          IsNumber = false;
                      }
                  }
                  return IsNumber;
              }

              function checkform() {
                  if (document.editform.fullname.value == '') {
                      alert("Please type your full name!");
                      document.editform.fullname.focus();
                      return false;
                  } {
                      /literal} {
                      if $settings.use_user_location == 1
          } {
                      literal
                  }
                  if (document.editform.address.value == '') {
                      alert("Please enter your address!");
                      document.editform.address.focus();
                      return false;
                  }
                  if (document.editform.city.value == '') {
                      alert("Please enter your city!");
                      document.editform.city.focus();
                      return false;
                  }
                  if (document.editform.state.value == '') {
                      alert("Please enter your state!");
                      document.editform.state.focus();
                      return false;
                  }
                  if (document.editform.zip.value == '') {
                      alert("Please enter your ZIP!");
                      document.editform.zip.focus();
                      return false;
                  }
                  if (document.editform.country.options[document.editform.country.selectedIndex].text == '--SELECT--') {
                      alert("Please choose your country!");
                      document.editform.country.focus();
                      return false;
                  } {
                      /literal} { /
                      if
          } {
                      literal
                  }
                  if (document.editform.password.value != document.editform.password2.value) {
                      alert("Please check your password!");
                      document.editform.fullname.focus();
                      return false;
                  } {
                      /literal} {
                      if $settings.use_transaction_code
          } {
                      literal
                  }
                  if (document.editform.transaction_code.value != document.editform.transaction_code2.value) {
                      alert("Please check your transaction code!");
                      document.editform.transaction_code2.focus();
                      return false;
                  } {
                      /literal} { /
                      if
          } {
                      literal
                  } {
                      /literal} {
                      if $settings.usercanchangeemail == 1
          } {
                      literal
                  }
                  if (document.editform.email.value == '') {
                      alert("Please enter your e-mail address!");
                      document.editform.email.focus();
                      return false;
                  } {
                      /literal} { /
                      if
          } {
                      literal
                  }

                  for (i in document.editform.elements) {
                      f = document.editform.elements[i];
                      if (f.name && f.name.match(/^pay_account/)) {
                          if (f.value == '') continue;
                          var notice = f.getAttribute('data-validate-notice');
                          var invalid = 0;
                          if (f.getAttribute('data-validate') == 'regexp') {
                              var re = new RegExp(f.getAttribute('data-validate-regexp'));
                              if (!f.value.match(re)) {
                                  invalid = 1;
                              }
                          } else if (f.getAttribute('data-validate') == 'email') {
                              var re = /^[^\@]+\@[^\@]+\.\w{2,4}$/;
                              if (!f.value.match(re)) {
                                  invalid = 1;
                              }
                          }
                          if (invalid) {
                              alert('Invalid account format. Expected ' + notice);
                              f.focus();
                              return false;
                          }
                      }
                  }

                  return true;
              }
        </script>

        <div class="row clearfix">
          <%- include("./partials/messages") %>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <div
              class="card member-card"
              style="
                min-height: 499px;
                border-radius: 0.55rem 0.55rem 0.25rem 0.25rem;
              "
            >
              <div
                class="headeraccount l-pink"
                style="background: #facd8a !important"
              >
                <h4 class="m-t-10"><%=req.user.fullname%></h4>
              </div>
              <div class="body">
                <div class="col-12">
                  <p class="text-muted">Registration: <%=req.user.regDate%></p>
                  <p class="text-muted" style="font-size: 16px">
                    <%=req.user.email%>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card" style="min-height: 499px">
              <div class="headeraccount">
                <h2><strong>Personal</strong> Details</h2>
              </div>
              <div class="body">
                <form method="post" action="/update-personal">
                  <table
                    cellspacing="0"
                    cellpadding="2"
                    border="0"
                    style="width: 100%"
                  >
                    <tr>
                      <td>Full Name:</td>
                      <td>
                        <input
                          type="text"
                          name="fullname"
                          value="<%=req.user.fullname%>"
                          class="editboxz calculate-amount form-controlamount"
                          required
                        />
                      </td>
                    </tr>

                    <tr>
                      <td>E-mail:</td>
                      <td>
                        <input
                          type="text"
                          name="email"
                          value="<%=req.user.email%>"
                          class="editboxz calculate-amount form-controlamount"
                          required
                        />
                      </td>
                    </tr>

                    <tr>
                      <td>New Password:</td>
                      <td>
                        <input
                          type="password"
                          name="password"
                          value=""
                          class="editboxz calculate-amount form-controlamount"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td>Retype Password:</td>
                      <td>
                        <input
                          type="password"
                          name="password2"
                          value=""
                          class="editboxz calculate-amount form-controlamount"
                        />
                      </td>
                    </tr>
                  </table>
                  <div style="clear: both"></div>
                  <div class="col text-center">
                    <button
                      type="submit"
                      name="submitinfo"
                      class="btn btn-primary btn-round btn-simple float-right m-l-10 btn-warning waves-effect"
                    >
                      UPDATE INFO
                    </button>
                  </div>
                  <div style="clear: both"></div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card" style="min-height: 499px">
              <div class="headeraccount">
                <h2><strong>Payment</strong> Details</h2>
              </div>
              <div class="body">
                <form method="POST" action="/update-payment">
                  <table
                    cellspacing="0"
                    cellpadding="2"
                    border="0"
                    style="width: 100%"
                  >
                    <tr>
                      <td>
                        <img
                          src="/assets/pay2/48.png"
                          style="
                            width: 25px !important;
                            float: left;
                            margin: -2px 15px 0px 0px;
                          "
                        />Bitcoin:
                      </td>
                      <td>
                        <input
                          type="text"
                          class="editboxz calculate-amount form-controlamount"
                          name="bitcoin"
                          value="<%= req.user.bitcoin%>"
                          data-validate="regexp"
                          data-validate-regexp="^[13][a-km-zA-HJ-NP-Z1-9]{25,34}$"
                          data-validate-notice="Bitcoin Address"
                        />
                      </td>
                    </tr>
                    <th>Bank Details</th>
                    <tr>
                      <td>Account Name:</td>
                      <td>
                        <input
                          value="<%=req.user.accountName%>"
                          type="text"
                          class="editboxz calculate-amount form-controlamount"
                          name="accountName"
                          placeholder="Bank Account Name"
                        />
                      </td>
                    </tr>

                    <tr>
                      <td>Account Number:</td>
                      <td>
                        <input
                          value="<%=req.user.accountNumber%>"
                          type="text"
                          class="editboxz calculate-amount form-controlamount"
                          name="accountNumber"
                          placeholder="Bank Account Name"
                        />
                      </td>
                    </tr>

                    <tr>
                      <td>Bank Name</td>
                      <td>
                        <input
                          value="<%=req.user.bankName%>"
                          type="text"
                          class="editboxz calculate-amount form-controlamount"
                          name="bankName"
                          placeholder="Bank Account Name"
                        />
                      </td>
                    </tr>
                  </table>
                  <br />
                  <div class="col text-center">
                    <button
                      type="submit"
                      name="submitacc"
                      class="btn btn-primary btn-round btn-simple float-right m-l-10 btn-warning waves-effect"
                    >
                      UPDATE
                    </button>
                  </div>
                  <div style="clear: both"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div style="clear: both"></div>
        <div class="col text-center">
          <a
            href="/dashboard"
            class="btn btn-primary btn-round btn-simple float-right m-l-10 btn-warning waves-effect"
            >Save Changes</a
          >
        </div>
        <div style="clear: both"></div>
        <br />
        <br />
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="row" style="margin-top: 50px">
              <div class="col-md-12">
                <div class="row equal">
                  <div
                    class="col-xl-8 col-lg-8 col-md-12 no-padding wow fadeInLeft"
                    data-wow-delay="0.2s"
                    style="
                      visibility: visible;
                      animation-delay: 0.2s;
                      animation-name: fadeInLeft;
                      min-height: 180px;
                    "
                  >
                    <div class="incrop-left" style="min-height: 100%">
                      <div class="incrop-left-img">
                        <img src="/assets/img/uk.png" />
                        <h4
                          class="step__title"
                          style="padding-bottom: 15px; color: #facd8a"
                        >
                          UK Registered Company
                        </h4>
                        <p>
                          LightSwift is a fully registered and licensed company
                          in UK. LightSwift is powered by the latest and most
                          secure form of SSL data encryption to keep all your
                          data and information safe and secure.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="topline footer__topline">
                  <a href="/" class="logo topline__logo">
                    <img
                      src="/assets/img/logo.png"
                      alt="Golden"
                      style="width: 180px"
                    />
                  </a>
                  <nav class="menu topline__menu footer__menu">
                    <a href="/" class="menu__link" data-pjax> Home </a>
                    <a href="/about" class="menu__link" data-pjax> About us </a>
                    <a href="/investment" class="menu__link" data-pjax>
                      Investment
                    </a>
                    <a href="/partners" class="menu__link" data-pjax>
                      Partners
                    </a>
                    <a href="/terms" class="menu__link" data-pjax> Terms </a>
                    <a href="/contact" class="menu__link" data-pjax>
                      Contact us
                    </a>
                  </nav>
                  <div
                    class="footer__socfooter topline__controls"
                    style="height: initial"
                  >
                    <a></a>
                    <a></a>
                    <a href="https://www.facebook.com" target="_blank">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://youtube.com" target="_blank">
                      <i class="fa fa-youtube"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer__copyright">
              © 2021 LightSwift. ALL RIGHTS RESERVED.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <link rel="stylesheet" href="/assets/libs/bootstrap/fileinput.min.css" />
  <script src="/assets/libs/bootstrap/bootstrap.min.js"></script>
  <script src="/assets/libs/bootstrap/fileinput.min.js"></script>
  <script>
    addClass(
      document.getElementById("js-sidebar-settings"),
      "menu__link--active"
    );
  </script>
</div>
